<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="TMDB Settings">
        <setting id="tmdb_api_key" type="text" label="TMDB API Key" default=""/>
        <setting id="update_interval" type="number" label="Update Interval (minutes)" default="30"/>
        <setting id="enable_widgets" type="bool" label="Enable TMDB Widgets" default="true"/>
    </category>
</settings>